<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>{% block title %}BNS Project Manager{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<script src="{{ url_for('static', filename='app.js') }}">
	</script>
</head>
<body>
	<nav>
		<a href="{{ url_for('showMain') }}">Home</a>
		<a href="{{ url_for('showSearch') }}">Search</a>
		<a href="{{ url_for('showManager') }}">Manage Projects</a>
		<a href="{{ url_for('showMap') }}">Project Map</a>
	</nav>
	{% block content %}{% endblock %}
</body>
</html>