{% extends "base.html" %}
{% block content %}
<main>
<h2>Open Projects at a Glance</h2>
<div>
{% if openProjects|length %}
	<table class="maintable">
		<tr class="header">
			<td>Project Status</td>
			<td>PCE ID</td>
			<td>Project Name</td>
			<td>Project Address</td>
			<td>Issue Date</td>
			<td>Date to Field</td>
			<td>Fieldwork In</td>
			<td>Permit In</td>
			<td>Permit Required?</td>
			<td>Comcast Engineer</td>
	{% for project in openProjects %}
		<tr class="maintr">
			<td>{{ project.status }}</td>
			<td>{{ project.id }}</td>
			<td><a href="{{ url_for('viewProject', pce_id=project.id) }}">{{ project.name }}</a></td>
			<td>{{ project.address }}</td>
			<td>
				{% if project.date_in != None %}
					{{ project.date_in.date() }}
				{% else %}
					N/A
				{% endif %}
			</td>
			<td>
				{% if project.field_out != None %}
					{{ project.field_out.date() }}
				{% else %}
					N/A
				{% endif %}
			</td>
			<td>
				{% if project.field_in != None %}
					{{ project.field_in.date() }}
				{% else %}
					N/A
				{% endif %}
			</td>
			<td>
				{% if project.permit_in != None %}
					{{ project.permit_in.date() }}
				{% else %}
					N/A
				{% endif %}
			</td>
			<td>{{ project.permit_req }}</td>
			<td>{{ project.com_engineer }}</td>
		</tr>
	{% endfor %}
	</table>
{% else %}
	No open projects at this time!
{% endif %}
</div>
</main>
{% endblock %}