{% extends "base.html" %}
{% block content %}
<main>
<div class="pageSelect">
	{% if allProjects.has_prev %}
	<a href="{{ url_for('showManager', page=allProjects.prev_num)}}">&lt;&lt; Prev</a>
	{% endif %}
	{% if allProjects.has_next %}
	<a href="{{ url_for('showManager', page=allProjects.next_num)}}">Next &gt;&gt;</a>
	{% endif %}
</div>
<div class="pagination">
	<p><a href="{{ url_for('newProject') }}">Add a Project</a></p>
	<table class="maintable">
		<tr class="thead">
			<td>Project Status</td>
			<td>PCE ID</td>
			<td>Project Name</td>
			<td>Project Address</td>
			<td>Issue Date</td>
			<td>Date to Field</td>
			<td>Fieldwork In</td>
			<td>Permit In</td>
			<td>Date Completed</td>
			<td>Comcast Engineer</td>
		</tr>
	{% for project in allProjects.items %}
		<tr class="maintr">
			<td>{{ project.status }}</td>
			<td>{{ project.id }}</td>
			<td><a href="{{ url_for('viewProject', pce_id=project.id) }}">{{ project.name }}</a></td>
			<td>{{ project.address }}</td>
			<td>
				{% if project.date_in != None %}
					{{ project.date_in.date() }}
				{% else %}
					N/A
				{% endif %}
			</td>
			<td>
				{% if project.field_out != None %}
					{{ project.field_out.date() }}
				{% else %}
					N/A
				{% endif %}
			</td>
			<td>
				{% if project.field_in != None %}
					{{ project.field_in.date() }}
				{% else %}
					N/A
				{% endif %}
			</td>
			<td>
				{% if project.permit_in != None %}
					{{ project.permit_in.date() }}
				{% else %}
					N/A
				{% endif %}
			</td>
			<td>
				{% if project.completed != None %}
					{{ project.completed.date() }}
				{% else %}
					N/A
				{% endif %}
			</td>
			<td>{{ project.com_engineer }}</td>
		</tr>
	{% endfor %}
	</table>
</div>
</main>
{% endblock %}